Assets/StreamingAssets/onleveldata/schema.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="level">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="next-level" type="xs:string" />
        <xs:element name="description" type="xs:string" />
        <xs:element name="introtext" type="xs:string" />
        <xs:element name="endtext" type="xs:string" />
        <xs:element name="timelimit" type="xs:string" />
        <xs:element name="failure_level" type="xs:string" />
        <xs:element name="tools">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="tool">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="enabled" type="xs:boolean" use="required" />
                  <xs:attribute name="count" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="code">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="comment">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="correct" type="xs:boolean" use="required" />
                        <xs:attribute name="size" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="groupid" type="xs:unsignedByte" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
                <xs:element name="question">
                  <xs:complexType>
                    <xs:simpleContent>
                      <xs:extension base="xs:string">
                        <xs:attribute name="text" type="xs:string" use="required" />
                        <xs:attribute name="answer" type="xs:string" use="required" />
                      </xs:extension>
                    </xs:simpleContent>
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="language" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>